@model List<SamsWarehouse.Models.Product>
@{
    ViewData["Title"] = "Product Page";
}


<div class="text-center">
	<h1>Products</h1>
</div>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var product in Model)
	{
        
            
                <div class="col mb-5">
                    <div class="card h-100 shadow">
                        <!-- Product image-->
                    <img style="padding: 10px;" class="card-img-top bg-primary" src="@Url.Content("~/images/thumbnail/" + product.Id +"/"+ product.Id +"_1.webp")">
                        <!-- Product details-->
                        <div class="card-body p-2 pt-2 bg-body-secondary">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@product.Title</h5>
                                <!-- Product price-->
                                $@product.Price
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-2 pt-2 border-top-0">
                        <div class="text-center"><a class="btn btn-outline-secondary mt-auto" href="#">Add To Cart</a></div>
                        </div>
                    </div>
                </div>
            
        
    }
    </div>
</div>
