@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Description"] = "Sam's Warehouse, Stocking all your food needs.";
}
<h1>@ViewData["Title"]</h1>

<p>We do not share any data provided to us.</p>
<p>No information provided to us will be used for profit or gain</p>

