@model SamsWarehouse.Models.Data.LoginDTO;
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/scss/custom.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SamsWarehouse.styles.css" asp-append-version="true" />
</head>
<body>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-primary rounded-4" >
                        <div class="card-body p-5">

                            <div class="m-5">

                                <img src="~/Logo.svg" height="100" width="100">Sam's Warehouse</img>
                                <div class="text-center">
                                    <b>LOGIN</b>
                                </div>
                                <hr />
                                <form asp-action="login" id"fields">
                                    @*<label id="result" class="control-label"></label>*@
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating mb-3 w-100" >
                                        
                                        <input asp-for="Username" class="form-control w-100" placeholder="johndoe@example.com" type="email" />
                                        <label asp-for="Username" class="control-label"></label>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating w-100">
                                        <input asp-for="Password" class="form-control w-100" placeholder="Password123" type="password" />
                                        <label asp-for="Password"  class="control-label"></label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </form>
                                <button onClick="login()" class="btn btn-primary mt-3 w-100" />Login</button>
                            </div>
                            <hr />
                            <div class="mx-5">
                                <div class="text-center mb-2">
                                    <b>Don't have an account?</b>
                                </div>
                                <a class="btn btn-outline-secondary w-100" asp-area="" asp-controller="Auth" asp-action="signup">Signup</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var xhr = null;

        async function login() {
            var username = document.getElementById("Username").value;
            var password = document.getElementById("Password").value;
            //var result = document.getElementById("result");
            var form = new FormData();
            form.append("Username", username);
            form.append("Password", password);

            try {
                const response = await fetch("/Auth/login", {
                    method: "POST",
                    body: form,
                });

                if (response.ok) {
window.location.href = "/";
                    //const responseText = await response.text();
                    //console.log(responseText);
                    // Handle the successful response here
                    //result.innerHTML = responseText;
                } else {
                    alert("Invalid Login")
                    //result.innerHTML = '<b class="text-danger">Invalid Login<b>';
                }
            } catch (error) {
            }
        }
        

    </script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>